.card-body {
  background-color: #A1CCA5 !important;
}

.card  {
  border-color:  #111D13 !important
}

 body {
  background-color: #709775!important;
}

.navbar {
  background-color: #415D43 !important;
}
