<h1>Editing user on task</h1>

<%= render "form", user_on_task: @user_on_task %>

<br>

<div>
  <%= link_to "Show this user on task", @user_on_task %> |
  <%= link_to "Back to user on tasks", user_on_tasks_path %>
</div>
