<div id="<%= dom_id user_in_group %>">
  <p>
    <strong>Group:</strong>
    <%= user_in_group.group_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_in_group.user_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= user_in_group.admin %>
  </p>

</div>
