<h1>Editing user in group</h1>

<%= render "form", user_in_group: @user_in_group %>

<br>

<div>
  <%= link_to "Show this user in group", @user_in_group %> |
  <%= link_to "Back to user in groups", user_in_groups_path %>
</div>
